@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

:root {
  --maincolor: #fb6a83;
  --gray: #4a53631c;
  --white: #fff;
  --text-color: #656e7eef;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  -moz-font-family: "Nunito Sans", sans-serif;
  color: #4a5363;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  letter-spacing: 0.3px;
}

.appName {
  font-size: 24px;
}

.appName h3 {
  color: rgba(0, 0, 0, 0.808);
  font-family: "Dancing Script", cursive;
}

.cyndy_name h5 {
  width: 100%;
  text-align: left;
  margin-right: 10px;
}
.Cyndy_image {
  display: flex;
  align-items: center;
}

.Cyndy_image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.mainBox {
  display: flex;
}
input {
  height: 30px;
  width: 33em;
  border-radius: 7px;
  border: 1px solid #00000059;
  outline: none;
  padding-inline: 14px;
  font-size: 14px;
}

.icons ul li {
  margin-top: 15px;
}
.icons > ul > li > a {
  font-style: none;
  text-decoration: none;
  font-size: 14.5px;
  font-weight: 600;
}

.icons > ul > li > a:hover {
  text-decoration: underline;
}

.active {
  color: var(--maincolor);
}

.icons ul li a .fal {
  font-size: 14.5px;
  padding: 0 9px 0 27px;
  font-family: Font Awesome 5 Pro;
}

.icons ul li a .fab {
  font-size: 14.5px;
  font-family: Font Awesome 5 Pro;
  padding: 0 9px 0 27px;
  background: transparent;
}

.gray_main_backgr {
  background-color: #4a53631c;
  width: 100%;
  height: max-content;
  overflow-y: hidden;
  border-radius: 1em 0 0 0;
  margin-left: 50px;
  z-index: 0;
}

.myContacts {
  margin: 40px 0;
  padding: 10px 0 0 20px;
}

.contactsinfo img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.contactName {
  display: flex;
  padding-top: 13px;
}

.contactName p {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 10px;
}

.contactName span {
  font-size: 11px;
  font-weight: 500;
  margin-left: 9px;
}

#gray-wrapper {
  display: grid;
  grid-template-columns: 1fr 300px 0.5fr;
}

.posts,
.friemds,
.stories {
  /* background-color: var(--maincolor); */
  z-index: 10;
  height: 100vh;
}

.posts {
  display: grid;
  justify-items: center;
  height: max-content;
}

.happening {
  background: var(--white);
  height: 136px;
  width: 90%;
  border-radius: 10px;
  margin-block: 30px;
}

.img-happen {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.img-happen img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 20px;
}

.img-happen input {
  width: 77%;
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: var(--gray);
  padding-block: 17px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--text-color);
}

input[placeholder="What's happening?"] {
  color: #656e7e81;
}

.vdeo-phto-pst ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 45px;
}

.vdeo-phto-pst ul li {
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.vdeo-phto-pst .fal {
  font-size: 15px;
}

.vdeo-phto-pst ul .post-btn {
  padding: 4px 25px;
  background-color: var(--maincolor);
  border-radius: 7px;
  transform: translateY(10%);
  cursor: pointer;
}
.vdeo-phto-pst .post-btn a {
  color: var(--white);
  text-decoration: none;
}

.peoplespost1 {
  background: var(--white);
  height: 500px;
  width: 90%;
  border-radius: 10px;
  display: grid;
  margin-bottom: 20px;
}

.afrin {
  display: inline-flex;
  margin-block: 8px;
}

.afrin img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.afrin-name {
  padding-left: 16px;
  align-items: center;
  margin-top: 6px;
}

.afrin-name p {
  font-size: 11px;
}

.post1-img{
    display: flex;
    justify-content: center;
}

.post1-img img{
    width: 476px;
    height: 268px;
    border-radius: 10px;
}

.likes-comment{
    display: flex;
}
.likes-img {
    display: flex;
  margin-left: 15px;

}

.likes-img img{
   width: 27px;
   height: 27px;
   border-radius: 50%;
   border: 1px solid var(--white);
}

.likes-img span{
    background-color: var(--maincolor);
    width: 27px;
   height: 27px;
   border-radius: 50%;
   border: 1px solid var(--white);
   display: flex;
   align-items: center;
  text-align:       center;
  justify-content: center;
   color: var(--white);
   font-size: 13px;
}

.overlap-img{
    transform: translateX(-55%);
}

.overlap-img1{
    transform: translateX(-95%);
}

.overlap-img2{
    transform: translateX(-135%);
}

.comment-like-count{
  display: flex;
  width: 100%;
justify-content: flex-end;
margin-right: 20px;
align-items: center;
font-size: 12px;
height: 30px;
font-weight: 600;
}

.comment-like-count .comments-no{
  margin-right: 15px;
}
.like-cmnt-share{
  display: block;
}

.like-cmnt-share::after,
.like-cmnt-share::before{
  content: '';
  background-color: rgba(128, 128, 128, 0.603);
  width: 94%;
  height: 1px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.like-cmnt-share-btn{
  display: flex;
  justify-content: space-around;
}

.like-cmnt-share-btn span{
  margin-block: 5px;
  font-size: 13.5px;
  font-weight: 600;
}

.write-comment{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 10px;
}

.write-comment img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 20px;
}

.write-comment span{
  background: #e0758770;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.write-comment span .fal{
  color: #fd1f44;
}

.write-comment input{
  width: 70%;  
  border: none;
  outline: none;
  background-color: var(--gray);
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--text-color);
  position: relative;
  z-index: 0;
}

.write-comment input::before{
    content: "\f5b8";
    font-family: "Font Awesome 5 free";font-weight: 600;
    z-index: 10;
    position: absolute;
}

.peoplespost2{
  background: var(--white);
  height: 200px;
  width: 90%;
  border-radius: 10px 10px 0 0;
  display: grid;
}

.mike {
  display: inline-flex;
  margin-block: 8px;
}

.mike img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.mike-name {
  padding-left: 16px;
  align-items: center;
  margin-top: 6px;
}

.mike-name p {
  font-size: 11px;
}

.post2-img{
    display: flex;
    justify-content: center;
}

.post2-img img{
    width: 476px;
    height: 268px;
    border-radius: 10px;
}

.mike-caption{
  font-size: 13px;
  font-weight: 600;
  margin: 4px 0 10px 20px;
}

.friemds{
  display: grid;
  justify-items: center;
}


.might-like{
  height: 201px;
  width: 288px;
  background: var(--white);
  border-radius: 10px;
  margin: 30px 0 15px 0;
}

.see-all{
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 0 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .4px;
}

.see-all a{
  color: cornflowerblue;
 text-decoration: none;
}

.see-all1::after{
  content: '';
  background-color: rgba(192, 191, 191, 0.267);
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 10px;
}

.mutual{
  margin: 14px 0 7px 10px;
}

.Mohammad-img-name{
  display: flex;
  gap: 10px;
}

.Mohammad-img-name img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.Mohammad-img-name span{
  color: #8D97AA;
  font-size: 13.7px;
  font-weight: 600;
  letter-spacing: .5px;
  margin: 3px 0 5px 0;
}

.mutual-frnds-img{
  display: flex;
  align-items: center;
}

.mutual-frnds-img img{
  width: 22px;
   height: 22px;
   border-radius: 50%;
   border: 1px solid var(--white);
}

.overlap-frnds-img{
  transform: translateX(-55%);
}

.overlap-frnds-img1{
  transform: translateX(-95%);
}

.mutual-frnds-img p{
  transform: translateX(-35%);
  font-size: 12px;
  font-weight: 600;
  color: #8D97AA;
}

.follow-ignore-btn{
  display: flex;
  justify-content: space-around;
   margin-top: 30px;
}

.follow-ignore-btn a{
  padding: 7px 20px;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.pink-btn{
  background: var(--maincolor);
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
}

.gray-btn{
  border: 2px solid gray;
  font-weight: 600;
  letter-spacing: .6px;
}

.events{
  width: 288px;
  height: 414px;
  background: var(--white);
  border-radius: 10px;
  margin-bottom: 15px;
}

.suggested-group{
  width: 288px;
  height: 226px;
  background: var(--white);
  border-radius: 10px;
}


.event-box{
  width: 251px;
  height: 156px;
  background-color: #E8EDF2;
  margin: 20px 0 10px 20px;
  border-radius: 10px;
}

.design{
  display: flex;
  margin-left: 20px;
}

.design-img{
  background: #7effc38c;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
}

.design-img .fab{
  position: absolute;
  top: 23%;
  left: 24%;
  font-size: 20px;
  color: #32b37f;
}

.design-talk{
  display: grid;  
  margin-left: 10px;
  margin-top: 16px;
}

.design-talk p{
  font-weight: 600;
  color: #4E5D78;
  font-size: 14px;
}

.design-talk span{
  font-weight: 600;
  color: #8495B4;
  font-size: 12px;
}

.general-talk p{
  font-size: 12px;
  font-weight: 600;
  color: #4E5D78;
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.general-talk::after{
  content: '';
  background: rgba(128, 128, 128, 0.493);
  width: 90%;
  height: 1px;
  display: block;
  margin: auto;
  border-radius: 10x;
}

.joined{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.joined .likes-img{
  margin-left: 0;
}

.joined-count p{
  font-weight: 600;
  color: #8495B4;
  font-size: 12px;
}

.joined img{
  width: 25px;
  height: 25px;
}

.joined span{
  width: 25px;
  height: 25px;
  background-color: #4ab482;
}

.purpel{
  background-color: #af7effb0;
}

.joined .purpel{
background-color: #AF7EFF;
}
.design-img .purpell{
  color: #7226eb;
}

.ui-img{
  margin: 14px 0 0 20px;
}
.ui-img img{
  width: 251px;
  height: 99px;
  border-radius: 10px;
}

.design-ui{
  display: flex;
  gap: 6px;
}

.design-ui img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 45px;
  transform: translateY(-40%);
}

.design-ui p{
  font-weight: 600;
  color: #4E5D78;
  font-size: 14px;
}

.members{
  display: flex;
  justify-content: space-around;
  transform: translateY(-80%);
}

.members p{
  font-weight: 600;
  color: #4E5D78;
  font-size: 12px;
}

.members .far{
  font-size: 12px;
}

.stories{
  display: grid;
  justify-items: right;
  height: 100%;
}

.stories-wrapper{
  margin-top: 5px;
  width: 272px;
  background: var(--white);
  border-radius: 10px 0 0 0;
}

.stories-wrapper input{
  width: 90%;
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: var(--gray);
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--text-color);
  margin-top: 10px;
  font-size: 12px;
}

.put-stories{
  display: flex;
  justify-content: space-around;
  margin: 20px 5px;
}

.stories-name{
  text-align: center;
  position: relative;
}
.stories-name img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(255, 42, 173);
}

.stories-name p{
  font-size: 13px;
  font-weight: 600;
  margin: 5px 0 0 0;
}

.stories-name span{
   background-color: #fff;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   color: rgb(206, 43, 165);
   position: absolute;
   top: 48%;
   left: 35%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   border: 1px solid var(--maincolor);
}

.recent-chats{
  margin-top: 45px;
}

.recent-chats h4{
  margin-bottom: 15px;
  margin-left: 20px;
}

.chat-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 0 13px;
}

.chat-name-img{
  display: flex;
  align-items: center;
}

.chat-name-img img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.15rem rgb(236, 61, 143));
}

.chatname{
  display: block;
  margin-left: 10px;
  font-weight: 600;
}

.chatname p{
  font-size: 14px;
  color: #4D4D4D;
}

.chatname span{
  font-size: 12px;
  color: #909AAE;
}

.chat-wrapper .far{
  font-size: 20px;
}

.chat-upspace{
  margin-top: 13px;
}